    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #f4f6f8;
        text-align: center;
        padding: 20px;
    }

    .box {
        background: #fff;
        width: 90%;
        max-width: 420px;
        margin: 0 auto;
        padding: 25px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        animation: fadeIn 0.6s ease;
    }

    h1 {
        color: #0f8a3b;
        margin-bottom: 5px;
    }

    h2 {
        color: #0f8a3b;
        margin-top: 25px;
    }

    p {
        color: #333;
    }

    .btn {
        width: 45%;
        padding: 15px;
        margin: 10px 2%;
        border-radius: 10px;
        font-size: 18px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
    }

    .yes { background: #0f8a3b; }
    .no  { background: #d9534f; }

    .amount-btn {
        width: 45%;
        padding: 15px;
        margin: 8px 2%;
        background: #0f8a3b;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 18px;
    }

    .apply {
        
        background: #d9534f;
        width: 90%;
        padding: 16px 0;
        border-radius: 12px;
        margin-top: 18px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        color: #fff;
    }

    .timer {
        color: red;
        font-weight: bold;
        margin-top: 5px;
    }

    img {
        width: 90px;
        margin-top: 20px;
    }


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
